<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="View your mazes here">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <title>Your Mazes</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <% if (!user) { %>
  <script>window.location.href = "https://a3-margaretearnest.glitch.me/";</script>
  <% } else { %>
  <body onload="populateMazes(<%=user.id%>)">
    <p>
    <h1><%= user.username %>'s Mazes</h1>
    <%= user.profileUrl %><br/><br/>  
    <button onclick="window.location.href='/'">Make a New Maze</button>
    </p>
  <p id="editInfo">Select a maze to annotate it with a path, update it, or delete it. You can annotate a maze by clicking and dragging the mouse across its grid squares. Each time you click or hold down the mouse you toggle between annotation and erasing. Pressing the "Update Maze" button will save this annotation, as well as saving a new name for the maze if you input one. You can also use the "Delete Maze" button to delete a maze.</p>
  <div id="mazeButtons"></div><br />
  <h2 id="mazeName"></h2>
  <form>
    <input id="newName" placeholder="New name" value="" type="text"></input>
  </form><br />
  <em id="mazeId"></em><br/>
  <button onclick="update(<%=user.id%>)" id="update">Update Maze</button>
  <button onclick="deleteMaze(<%=user.id%>)" id="delete">Delete Maze</button><br/><br/>
  <div id="maze"></div>
  </body>
  <% } %>
</html>